/* Breadcrumbs styles */
.breadcrumbs {
    padding: 0 20px;
    margin-bottom: 31px;

    @media (width >= 1400px) {
        margin-bottom: 45px;
    }
}

.breadcrumbs__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    max-width: 200px;

    @media (width >= 1400px) {
        max-width: none;
    }
}

.breadcrumbs__item {
    &:not(:last-child) {
        margin-right: 8px;
    }

    a, span {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
    }

    &:first-child {
        color: var(--cyan950);

        .breadcrumbs__separator svg {
            fill: var(--cyan950);
            stroke: var(--cyan950);
        }
    }

    &:nth-child(2) {
        color: var(--grey600);

        .breadcrumbs__separator svg {
            fill: var(--grey42);
            stroke: var(--grey42);
        }
    }

    &:last-child {
        color: var(--greyA3);

        .breadcrumbs__separator {
            display: none;
        }
    }
}

.breadcrumbs__separator {
    display: inline-block;
    font-size: 0;
    transform: translate(2px, -1px);
    svg  {
        width: 20px;
        height: 6px;
    }
}